html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

/* ================================= 
  Colors
==================================== */
/* ================================= 
  Styles
==================================== */
#root {
  height: 100vh;
  overflow: auto;
  background-color: #111026;
  font-family: 'Raleway', sans-serif; }

.main-content {
  width: 90%;
  max-width: 1025px;
  margin: auto; }
  .main-content .user-info {
    display: flex;
    justify-content: flex-start; }
    @media (max-width: 768px) {
      .main-content .user-info {
        display: block; } }
    .main-content .user-info .left-column {
      margin-right: 40px;
      text-align: center; }
      .main-content .user-info .left-column .user-avatar {
        width: 100%;
        max-width: 200px; }
      .main-content .user-info .left-column .user-name {
        text-align: center;
        font-size: 1.2em;
        margin-top: 10px;
        font-weight: 300; }
        .main-content .user-info .left-column .user-name a {
          color: honeydew;
          text-decoration: none; }
        .main-content .user-info .left-column .user-name a:hover {
          color: #B299CC; }
    .main-content .user-info .right-column {
      width: 100%; }
      .main-content .user-info .right-column .user-block {
        color: honeydew; }
      .main-content .user-info .right-column .user-title {
        color: #7FFFD4;
        font-size: 2em;
        margin: 0;
        font-weight: 200;
        text-shadow: rgba(255, 255, 255, 0.3) 3px 1px 5px; }
      .main-content .user-info .right-column ul.user-list {
        list-style: none;
        padding: 0;
        column-count: 2; }
        .main-content .user-info .right-column ul.user-list li.user-list-item {
          line-height: 1.5; }
          .main-content .user-info .right-column ul.user-list li.user-list-item a {
            color: honeydew;
            font-weight: 300;
            text-decoration: none; }
          .main-content .user-info .right-column ul.user-list li.user-list-item a:hover {
            color: #B299CC; }
  .main-content hr.line {
    border-width: .5px;
    border-top: .5px solid honeydew; }

.main-header {
  display: flex;
  width: 100%;
  min-height: 80px;
  z-index: 1000; }
  .main-header .inner {
    width: 90%;
    max-width: 1025px;
    margin: auto; }
    .main-header .inner .main-title {
      color: #7FFFD4;
      text-align: center;
      font-weight: 200;
      text-shadow: 3px 1px 5px rgba(255, 255, 255, 0.3);
      font-size: 5em; }
      @media (max-width: 768px) {
        .main-header .inner .main-title {
          font-size: 3em; } }
    .main-header .inner .search-form {
      width: 100%;
      margin: 35px auto; }
      .main-header .inner .search-form .is-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px; }
      .main-header .inner .search-form input {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #111026;
        background-color: honeydew;
        background-clip: padding-box;
        border: 1px solid powderblue;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
