/* ================================= 
  Layout Styles
==================================== */

.main-content {
  width: 90%;
  max-width: 1025px;
  margin: auto;
  & .user-info {
    display: flex;
    justify-content: flex-start;
    & .left-column {
      margin-right: 50px;
      text-align: center;
      & .user-avatar {
        min-width: 100%;
        max-width: 200px;
      }
      & .user-name {
        text-align: center;
        font-size: 1.5em;
      }
    }
    & .right-column {
      width: 100%;
      & .user-block {
        max-height: 250px;
        overflow: scroll;
        overflow-x: hidden;
      }
      & .user-title {
        color: red;
      }
      & ul.user-list {
        list-style: none;
        padding: 0;
        & li.user-list-item {
          line-height: 1.5;
          & a {
            color: green;
            text-decoration: none;
          }
        }
      }
      
    }
  }
}

.main-header {
  width: 100%;
  background: #fff;
  min-height: 80px;
  z-index: 1000;
  & .inner {
    width: 90%;
    max-width: 1025px;
    margin: auto;
    & .main-title {
      color: red;
      text-align: center;
    }
    & .search-form {
      width: 100%;
      margin: 35px auto;
      & .is-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      & input {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #343434;
        background-color: honeydew;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
    }
  }
}

.main-content::after {
  content: " ";
  display: table;
  clear: both;
}

