html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ================================= 
  Colors
==================================== */

$dark-blue: #111026;
$purple: #B299CC;
$light-green: #7FFFD4;

/* ================================= 
  Styles
==================================== */

#root {
  height: 100vh;
  overflow: auto;
  background-color: $dark-blue;
  font-family: 'Raleway', sans-serif;
}

.main-content {
  width: 90%;
  max-width: 1025px;
  margin: auto;
  & .user-info {
    display: flex;
    justify-content: flex-start;
    @media (max-width: 768px) {
      display: block;
    }
    & .left-column {
      margin-right: 40px;
      text-align: center;
      & .user-avatar {
        width: 100%;
        max-width: 200px;
      }
      & .user-name {
        text-align: center;
        font-size: 1.2em;
        margin-top: 10px;
        font-weight: 300;
        & a {
          color: honeydew;
          text-decoration: none;
        }
        & a:hover {
          color: $purple;
        }
      }
    }
    & .right-column {
      width: 100%;
      & .user-block {
        color: honeydew;
      }
      & .user-title {
        color: $light-green;
        font-size: 2em;
        margin: 0;
        font-weight: 200;
        text-shadow: rgba(255, 255, 255, 0.3) 3px 1px 5px;
      }
      & ul.user-list {
        list-style: none;
        padding: 0;
        column-count: 2;
        & li.user-list-item {
          line-height: 1.5;
          & a {
            color: honeydew;
            font-weight: 300;
            text-decoration: none;
          }
          & a:hover {
            color: $purple;
          }
        }
      }
      
    }
  }
  & hr.line {
    border-width: .5px;
    border-top: .5px solid honeydew;
  }
}

.main-header {
  display: flex;
  width: 100%;
  min-height: 80px;
  z-index: 1000;
  & .inner {
    width: 90%;
    max-width: 1025px;
    margin: auto;
    & .main-title {
      color: $light-green;
      text-align: center;
      font-weight: 200;
      text-shadow: 3px 1px 5px rgba(255,255,255,.3);
      font-size: 5em;
      @media (max-width: 768px) {
        font-size: 3em;
      }
    }
    & .search-form {
      width: 100%;
      margin: 35px auto;
      & .is-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      & input {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: $dark-blue;
        background-color: honeydew;
        background-clip: padding-box;
        border: 1px solid powderblue;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
    }
  }
}